.dropdown {
  position: relative;
  display: inline-block;
  .dropbtn {
    background-color: #F3F4F6;
    color: #374151;
    white-space: nowrap;
    width: auto;
    min-width: 20px;
    font-size: .7rem;
    padding: .6rem .7rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    p {
      color: black;
      padding: 12px 16px;
      display: block;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  &:hover {
    .dropdown-content{
      display: block;
    } 
    .dropbtn {
      background-color: #3e8e41;
    }
  }
}

